// Non-modular or client styles for .l-header region.

.navbar {
  border-left: 0;
  border-right: 0;
}

.navbar-toggle {
  margin-top: 22px;
}

#logo-menu {
  li {
    float: left;
  }
}

#logo {
  padding-top: 9px;
  padding-bottom: 9px;
}

img.logo {
  margin-bottom: 0;

  .header & {
    max-height: 40px;
    width: auto;
  }
}

#site-name {
  line-height: 32px;
}




// *
// * Media Queries
// *
// ******************************************************



// Mobile only
// --------------------------------------------------

@include respond($xs-only) {
  .l-logo {
    text-align: center;
  }
  
  #main-menu { 
    float: none!important;
  }
}


// Tablet up
// --------------------------------------------------

@include respond($sm-up) {
  #main-menu {
    padding-top: 0;

    a {
      padding-top: 19px;
      padding-bottom: 18px;
    }
  }
}