
// Stream filters
.dcsns-toolbar .filter li a {
  background: none;
  height: auto;
  min-height: 28px;
  padding: 3px;
}


// Inside social card
.stream li .icon {
  margin-bottom: 0;
  max-width: 20px;
  bottom: 5px;
}