// Non-modular or client styles for .l-header region.

.l-logo {
  padding-bottom: rem-calc(10);
  padding-top: rem-calc(10);
}


// *
// * Media Queries
// *
// ******************************************************

@include respond($small-only) {
  .l-logo {
    text-align: center;
  }
}