

.false-container {
  margin: 0 auto;
  display: block;
}


// Make some common layouts clear properly
// ----------------------------------------------

%clear-left {
  clear: left;
}

@mixin clear-grid-factory($sizes) {

  @each $size in $sizes {
    .col-#{$size}-6 + .col-#{$size}-6:nth-child(2n+1),
    .col-#{$size}-4 + .col-#{$size}-4:nth-child(3n+1),
    .col-#{$size}-3 + .col-#{$size}-3:nth-child(4n+1) {
      @extend %clear-left;
    }
  }
} 

@include clear-grid-factory(('xs', 'sm', 'md', 'lg'));






// *
// * Media Queries
// *
// ******************************************************

// @include respond($xs-only) {
//   .false-container  > .row {
//     padding-left: $grid-gutter-width/2;
//     padding-right: $grid-gutter-width/2;
//   }
// }

@include respond($sm-up) {

  .false-container {
    width: $container-sm;
  }
}

@include respond($md-up) {

  .false-container {
    width: $container-md;
  }
}

@include respond($lg-up) {
  .false-container {
    width: $container-lg;
  }
}