
// Headers
//---------------------------------------

h1, h2, h3, h4, h5, h6 {

  a {
    color: $black;

    &:hover {
      color: lighten($black, 10%);
    }
  }

  &.margin-top-none {
    margin-top: 0;
  }

  &.margin-bottom-none {
    margin-bottom: 0;
  }
  
  &.margin-top-double {
    margin-top: ($line-height-computed * 2);
  }

  &.margin-bottom-double {
    margin-bottom: ($line-height-computed);
  }

  & + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: -3px;
    }
  }
}

h1, .h1 {
  line-height: 1.1em;
  color: rgba($headings-color, .87);
  margin-top: 0;

  &, small {
    font-weight: $medium-weight;
  }
}

%header-h2 {
  font-weight: $light-weight;
  line-height: 1.2em;
  color: rgba($headings-color, .54);
}

h2, .h2 {
  @extend %header-h2;
}

h3, .h3 {
  font-weight: $medium-weight;
  line-height: 1.4em;
  color: rgba($headings-color, .87);

  // a {
  

  //   &:hover {
    
  //     text-decoration: none;
  //     border-bottom: 2px solid $brand-primary;
  //   }
  // }
}

h4, .h4 {
  font-weight: $regular-weight;
  line-height: 1.4em;
  color: rgba($headings-color, .87);

  // a {
  //   &:hover {
  //     text-decoration: none;
  //     border-bottom: 2px solid $brand-primary;
  //   }
  // }
}

h5, .h5 {
  font-weight: $medium-weight;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: rgba($headings-color, .54);
}

h6, .h6 {
  font-weight: $regular-weight;
  color: rgba($headings-color, .54);
}


.page-header {
  margin-top: .9em;
}