* {
  box-sizing: border-box; }

.modal-backdrop {
  position: fixed !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 10999 !important;
  opacity: 0.5; }

.modal-holder {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 440px;
  width: 880px;
  margin-top: -220px;
  margin-left: -440px;
  background: transparent;
  z-index: 11000;
  padding: 30px 15px; }
  .modal-holder .modal-box {
    margin: 0 auto;
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative; }

@media screen and (min-width: 992px) {
  .modal-box {
    width: 50%;
    padding: 30px; } }

.angular-media-field .thumbnails {
  display: inline;
  margin-left: -10px; }
.angular-media-field .thumbnail {
  width: 110px;
  height: 140px;
  margin: 5px;
  position: relative;
  float: left; }
  .angular-media-field .thumbnail.active {
    border-color: #E9D24F;
    background-color: #E9D24F; }
  .angular-media-field .thumbnail img {
    max-width: 100%;
    max-height: 100px;
    height: auto;
    margin: 0 auto; }
  .angular-media-field .thumbnail .thumbnail-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 0.9em;
    padding-top: 5px; }
  .angular-media-field .thumbnail .btn {
    display: none;
    top: 10px;
    position: absolute; }
    .angular-media-field .thumbnail .btn.thumbnail-edit {
      left: 10px; }
    .angular-media-field .thumbnail .btn.thumbnail-remove {
      right: 10px; }
  .angular-media-field .thumbnail:hover .btn {
    display: block; }
  .angular-media-field .thumbnail .download-icon {
    font-size: 15px;
    color: #ccc; }
  .angular-media-field .thumbnail .or {
    margin: 0.5em 0 !important; }
  .angular-media-field .thumbnail .btn.media-select {
    display: block;
    position: relative;
    margin: 0 auto; }
.angular-media-field .clearfix {
  clear: both; }

.thumbnail-icon {
  text-align: center;
  position: relative;
  width: 100px; }
  .thumbnail-icon .file-icon {
    font-size: 100px;
    color: #ccc; }
  .thumbnail-icon .file-icon-text {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100px;
    font-size: 20px;
    font-weight: bold; }
  .thumbnail-icon.icon-lg .file-icon {
    font-size: 180px; }
  .thumbnail-icon.icon-lg .file-icon-text {
    width: 180px; }

.drop-zone, .thumbnail.drop-zone {
  border: 2px dashed #ccc;
  padding: 10px;
  text-align: center; }
  .drop-zone .or, .thumbnail.drop-zone .or {
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 2em 0; }
  .drop-zone .drop-label, .thumbnail.drop-zone .drop-label {
    font-size: 1.3em;
    font-weight: bold; }
  .drop-zone .file-upload, .thumbnail.drop-zone .file-upload {
    margin: 0 auto; }
  .drop-zone .description, .thumbnail.drop-zone .description {
    color: #aaa;
    font-size: 0.9em;
    text-align: left;
    width: 85%;
    margin: 5px auto; }

/*
  form {
    width: $modal-width;
    height: $modal-height;
    position: relative;

    select {
      max-width: 200px;
    }
  }
*/
.edit-form .editable-item {
  height: auto;
  padding: 5px 0; }
.edit-form .title {
  display: inline-block;
  font-weight: bold;
  padding-top: 5px;
  vertical-align: top;
  min-width: 90px; }
.edit-form .editable {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top; }

img.ng-jcrop-image {
  max-width: 100% !important;
  max-height: 500px !important;
  height: auto !important; }

.browser {
  position: relative;
  margin-top: 10px; }
  .browser .scroll-wrapper {
    width: 800px;
    height: 400px;
    overflow-y: scroll;
    ms-overflow-x: hidden; }
  .browser .left, .browser .scroll-wrapper.active {
    width: 540px; }
  .browser .thumbnail {
    cursor: pointer; }
  .browser .sidebar {
    width: 250px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: white; }
    .browser .sidebar h3, .browser .sidebar h5 {
      margin: 0; }
    .browser .sidebar .preview {
      text-align: center; }
      .browser .sidebar .preview img {
        max-height: 200px;
        margin: 0 auto; }
    .browser .sidebar .bottom-right, .browser .sidebar .bottom-left {
      position: absolute;
      bottom: 10px;
      right: 10px; }
      .browser .sidebar .bottom-right.bottom-left, .browser .sidebar .bottom-left.bottom-left {
        left: 10px;
        right: auto; }
  .browser.upload .queue {
    margin-top: 5px;
    height: 185px;
    overflow-y: auto;
    margin-left: -30px; }
    .browser.upload .queue .queue-item {
      padding: 7px 5px 7px 30px;
      cursor: pointer; }
      .browser.upload .queue .queue-item.active {
        background-color: #F5F5F5; }
      .browser.upload .queue .queue-item .file-thumb {
        float: right;
        margin-left: 5px; }
      .browser.upload .queue .queue-item .file-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        font-weight: bold; }
      .browser.upload .queue .queue-item .file-size {
        float: left;
        margin-right: 5px; }
      .browser.upload .queue .queue-item .progress {
        margin: 3px 5px;
        height: 12px; }
  .browser.upload .file-details {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 3px;
    min-height: 300px; }
