

div.my-workbench.admin { 

  & > .left,
  & > .right {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

//*
//* Responsive
//* --------------------------------------------------
//*

@media screen and (min-width: $screen-md-min) {
  div.my-workbench.admin { 
    position: relative;

    & > .left {
      left: 0;
      padding-right: $grid-gutter-width/2;
      position: absolute;
      width: 125px;
    }

    & > .right {
      padding-left: 135px + $grid-gutter-width/2;
      width: 100%;
    }
  }
}
