
// Headers
//---------------------------------------

h1, h2, h3, h4, h5, h6 {

  a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.margin-top-none {
    margin-top: 0;
  }

  &.margin-bottom-none {
    margin-bottom: 0;
  }
  
  &.margin-top-double {
    margin-top: ($line-height-computed * 2);
  }

  &.margin-bottom-double {
    margin-bottom: ($line-height-computed);
  }

  & + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: -3px;
    }
  }
}