// IE9 bug needs non rem values for height
$orbit-button-height: 55px;
$orbit-button-width: grid-calc(5, 12) / 3.2;

// Orbit
//-----------------------------------------------------------------------------

.orbit-container {
  @include expand-row(true);
  width: auto;
}

ul[data-orbit] {
  @include list-clear;
  h2 {
    a {
      @include c(link-alt);
    }
  }
  & ~ .orbit-prev,
  & ~ .orbit-next {
    color: $blue-dark;
    text-indent: 0 !important;
    &:before {
      width: 100% !important;
    }
    span {
      display: none !important;
    }
    &:hover {
      background: rgba($black-true, 0.05);
    }
    &:active {
      background: rgba($blue-dark, 0.1);
    }
  }
  & ~ .orbit-prev {
    @include icon-replace(long-arrow-left, $orbit-button-width, $orbit-button-height, rem-calc(25));
  }
  & ~ .orbit-next {
    @include icon-replace(long-arrow-right, $orbit-button-width, $orbit-button-height, rem-calc(25));
  }
}

.orbit-timer {
  display: none !important;
}

// *
// * Media Queries
// *
// ******************************************************

@include respond($medium-up) {
  // Orbit
  //-----------------------------------------------------------------------------
  ul[data-orbit] {}
}


@include respond($large-up) {
  // Orbit
  //-----------------------------------------------------------------------------
  ul[data-orbit] {}
}
