.open-nav {
  display: block;
  position: absolute;
  left: 5px;
  font-size: 14px;
  width: 30px;
  min-height: 128px;
  min-width: 0;
  cursor: pointer;
  top: 5px;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .open-nav a, .open-nav a:hover {
    text-decoration: none; }
  .open-nav i {
    display: block !important;
    margin: 0 0 10px;
    font-size: 23px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px !important;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    transition: all ease 0.2s; }
    .show-nav .open-nav i {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .open-nav span {
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

@media screen and (max-width: 767px) {
  .app-wrap {
    position: relative;
    padding-left: 32px; }
  .app-slider {
    overflow: hidden;
    min-width: 100%; }
  .app-slider > div {
    position: relative;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .app-slider > div {
    margin-left: -100%;
    max-width: none;
    width: 200%; }
  .show-nav .app-slider > div {
    margin-left: 0%; } }

@media screen and (min-width: 768px) {
  .open-nav {
    display: none; } }

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.animation-wrap {
  position: relative;
  overflow: hidden; }

[ui-view] {
  z-index: 2;
  min-height: 200px; }

.transform.ng-enter, .transform.ng-enter-active, .transform.ng-leave, .transform.ng-leave-active, .slidedown.ng-enter, .slidedown.ng-enter-active, .slidedown.ng-leave, .slidedown.ng-leave-active {
  overflow: hidden; }
.transform.ng-enter, .slidedown.ng-enter {
  z-index: 2; }
.transform.ng-leave, .slidedown.ng-leave {
  z-index: 1; }

@media screen and (max-width: 767px) {
  .transform.ng-enter, .transform.ng-leave, .transform.ng-hide-add, .transform.ng-hide-remove, .slidedown.ng-enter, .slidedown.ng-leave, .slidedown.ng-hide-add, .slidedown.ng-hide-remove {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .transform.ng-enter, .transform.ng-hide-add, .slidedown.ng-enter, .slidedown.ng-hide-add {
    position: relative;
    opacity: 0; }
  .transform.ng-enter.ng-enter-active, .transform.ng-hide-add.ng-hide-add-active, .slidedown.ng-enter.ng-enter-active, .slidedown.ng-hide-add.ng-hide-add-active {
    opacity: 1; }
  .transform.ng-leave, .transform.ng-hide-remove, .slidedown.ng-leave, .slidedown.ng-hide-remove {
    opacity: 1; }
  .transform.ng-leave.ng-leave-active, .transform.ng-hide-remove.ng-hide-remove-active, .slidedown.ng-leave.ng-leave-active, .slidedown.ng-hide-remove.ng-hide-remove-active {
    opacity: 0; }
  .quickfade.ng-enter, .quickfade.ng-leave, .quickfade.ng-hide-add, .quickfade.ng-hide-remove {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .ng-enter.transform, .ng-hide-add.transform {
    left: 100%; }
  .ng-enter.slidedown, .ng-hide-add.slidedown {
    margin-top: -100%; }
  .ng-enter.quickfade, .ng-hide-add.quickfade {
    opacity: 0; }
  .ng-enter.ng-enter-active.transform, .ng-hide-add.ng-hide-add-active.transform {
    left: 0; }
  .ng-enter.ng-enter-active.slidedown, .ng-hide-add.ng-hide-add-active.slidedown {
    margin-top: 0; }
  .ng-enter.ng-enter-active.quickfade, .ng-hide-add.ng-hide-add-active.quickfade {
    opacity: 1; }
  .ng-leave.transform, .ng-hide-remove.transform {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
  .ng-leave.slidedown, .ng-hide-remove.slidedown {
    margin-top: 0;
    position: relative; }
  .ng-leave.quickfade, .ng-hide-remove.quickfade {
    opacity: 1;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
  .ng-leave.ng-leave-active.transform, .ng-hide-remove.ng-hide-remove-active.transform {
    left: -100%; }
  .ng-leave.ng-leave-active.slidedown, .ng-hide-remove.ng-hide-remove-active.slidedown {
    margin-top: -100%; }
  .ng-leave.ng-leave-active.quickfade, .ng-hide-remove.ng-hide-remove-active.quickfade {
    opacity: 0; } }

@media screen and (min-width: 768px) {
  .transform.ng-enter, .transform.ng-leave, .transform.ng-hide-add, .transform.ng-hide-remove, .slidedown.ng-enter, .slidedown.ng-leave, .slidedown.ng-hide-add, .slidedown.ng-hide-remove {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .transform.ng-enter, .transform.ng-hide-add, .slidedown.ng-enter, .slidedown.ng-hide-add {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    -o-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    position: relative; }
  .transform.ng-enter.ng-enter-active, .transform.ng-hide-add.ng-hide-add-active, .slidedown.ng-enter.ng-enter-active, .slidedown.ng-hide-add.ng-hide-add-active {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .transform.ng-leave, .transform.ng-hide-remove, .slidedown.ng-leave, .slidedown.ng-hide-remove {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .transform.ng-leave.ng-leave-active, .transform.ng-hide-remove.ng-hide-remove-active, .slidedown.ng-leave.ng-leave-active, .slidedown.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    -o-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  .quickfade.ng-enter, .quickfade.ng-leave, .quickfade.ng-hide-add, .quickfade.ng-hide-remove {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .ng-enter.transform, .ng-hide-add.transform {
    left: -100%; }
  .ng-enter.slidedown, .ng-hide-add.slidedown {
    margin-top: -100%; }
  .ng-enter.quickfade, .ng-hide-add.quickfade {
    opacity: 0; }
  .ng-enter.ng-enter-active.transform, .ng-hide-add.ng-hide-add-active.transform {
    left: 0; }
  .ng-enter.ng-enter-active.slidedown, .ng-hide-add.ng-hide-add-active.slidedown {
    margin-top: 0; }
  .ng-enter.ng-enter-active.quickfade, .ng-hide-add.ng-hide-add-active.quickfade {
    opacity: 1; }
  .ng-leave.transform, .ng-hide-remove.transform {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
  .ng-leave.slidedown, .ng-hide-remove.slidedown {
    margin-top: 0;
    position: relative; }
  .ng-leave.quickfade, .ng-hide-remove.quickfade {
    opacity: 1;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
  .ng-leave.ng-leave-active.transform, .ng-hide-remove.ng-hide-remove-active.transform {
    left: 100%; }
  .ng-leave.ng-leave-active.slidedown, .ng-hide-remove.ng-hide-remove-active.slidedown {
    margin-top: -100%; }
  .ng-leave.ng-leave-active.quickfade, .ng-hide-remove.ng-hide-remove-active.quickfade {
    opacity: 0; } }

.column-pad {
  padding-left: 12px;
  padding-right: 12px; }

.main-311 {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  @inlude clearfix();
  padding-bottom: 5px;
  width: 200% !important; }
  .main-311.slide-left {
    margin-left: -100%; }
  .main-311 .slide-left-2 {
    float: left;
    width: 50% !important; }
  .main-311 h2:first-child {
    margin-top: 0; }

.back-btn {
  margin-bottom: 10px;
  display: block;
  cursor: pointer; }

.column-pad .back-btn {
  padding-left: 12px; }

.nav-contain li a {
  background: #626262; }

.nav-contain .nav-pills li a, .nav-contain .nav-pills li a:hover, .nav-contain .nav-pills li a:focus {
  color: #FFF; }
.nav-contain .nav-pills li:not(.active) a:hover, .nav-contain .nav-pills li:not(.active) a:focus {
  background: #494949; }
.nav-contain .nav-pills li.active a, .nav-contain .nav-pills li.active a:hover, .nav-contain .nav-pills li.active a:focus {
  color: #FFF;
  background: #2196F3; }
.nav-contain .nav-pills li i {
  margin-right: 0.25em; }

.app-slider .slide-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
  opacity: 0.54;
  font-size: 26px; }

ul.angular-311-2col {
  margin: 0;
  padding-left: 0; }
  ul.angular-311-2col > li {
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    border: 1px solid transparent; }
    ul.angular-311-2col > li.active {
      border-color: #eeeeee;
      box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1); }
  ul.angular-311-2col li {
    list-style: none; }
  ul.angular-311-2col ul {
    padding: 10px 0 0; }
    ul.angular-311-2col ul li {
      margin-bottom: 0.5em; }

.category {
  position: relative;
  min-height: 40px; }
  .category > div:first-child {
    position: absolute;
    left: 12px;
    padding: 0; }
    .category > div:first-child ~ div {
      padding-left: 65px; }
  .category a.fa {
    border-radius: 100%;
    color: #FFF;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px; }
  .category h4 {
    margin: 0; }
    .category h4 a:focus, .category h4 a:hover {
      text-decoration: none; }

.top-category h4 {
  display: table;
  min-height: 40px; }
  .top-category h4 a {
    display: table-cell;
    vertical-align: middle; }

form .has-error .error-message {
  display: block !important; }
form .has-success .success-message {
  display: block !important; }

.track-status {
  text-transform: uppercase;
  font-weight: bold; }

.form-inline .form-group + .btn {
  margin-bottom: 0; }

@media screen and (max-width: 767px) {
  .nav-contain .nav-pills li a {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px; }
    .nav-contain .nav-pills li a i {
      width: 100%;
      margin-bottom: 5px;
      font-size: 20px;
      margin-right: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; } }

@media screen and (min-width: 768px) {
  .app-slider > div {
    border: 1px solid #eeeeee; }
  .nav-contain {
    background: #eeeeee;
    padding-top: 12px;
    padding-bottom: 12px; }
  .nav-contain .nav-pills li {
    float: left;
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center; }
  .app-slider .content-contain {
    padding: 24px; }
  .category {
    min-height: 50px; }
    .category > div:first-child ~ div {
      padding-left: 80px; }
    .category a.fa {
      width: 50px;
      height: 50px;
      line-height: 50px; }
  .top-category h4 {
    min-height: 50px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  ul.angular-311-2col li:nth-child(2n+1) {
    clear: left; } }

@media screen and (min-width: 992px) {
  .nav-contain .nav-pills li a {
    text-transform: uppercase; }
  ul.angular-311-2col li:nth-child(3n+1) {
    clear: left; } }
