.helm-map-corner {
  position: absolute;
  right: 0;
  top: 0;
}

.helm-map-title {
  display: none;
}

.helm-map {
  background-color: #eee;
}

.helm-map-activated {
  overflow: hidden;
  background: #fff !important;
  transition: height 1s, background 1s;
}

.helm-map-activated .helm-map-corner {
  display: none;
}


.helm-map-activated .helm-map-title,
.helm-map-activated .helm-map,
.helm-map-activated .menu-ui {
  display: block;
}

.helm-map-activated .helm-map-title {
  position: absolute;
  left: 100px;
  top: 25px;
  z-index: 1000;
}

.helm-map-activated .menu-ui {
  top: 70px;
}

.leaflet-marker-icon {
  background: url(https://foursquare.com/img/pin-blue.png);
  padding: 6px;
  padding-bottom: 17px;
  top: -6px;
  left: -6px;
  box-sizing: content-box;
}

.helm-map {
  width: 100%;
}

.menu-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active {
      background:#3887BE;
      color:#FFF;
      }
      .menu-ui a.active:hover {
        background:#3074a4;
        }