
// Minimalist node form
.node-form {
  position:relative;

  .form-item-title,
  .field-name-field-subtitle {
    margin-bottom: 2em;

    label {
      display: none;
    }

    input {
      border: none;
      box-shadow: none;
      font-size: 3.5em;
      line-height: 1em;
      font-weight: bold;
      max-width: 100%;
      height: 1.2em;
      padding: 0;
      color: $black;

      &:placeholder {
        color: $text-color;
      }
    }
    
    &.field-name-field-subtitle input {
      font-size: 2em;
      font-weight: normal;
      height: 1.2em;
    }
  }
}


@media screen and (min-width: $screen-md-min) {
  .node-form {

    & > div {
      width: 70%;
    }

    .bootstrap-vertical-tabs {
      position: absolute;
      padding-left: $grid-gutter-width;
      right: 0;
      top: 0;
      width: 30%;
    }

    .form-actions {
      position: absolute;
      top: -8rem;
      right: 0;
    }
  }
}

