/* CSS for attribution box on images */
.image-lazysize {
  position: relative;
}

img[data-sizes="auto"] { 
  display: block; 
  width: 100%;
}

.image-lazysize .image-attribution {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  border-radius: 10px;
  background-color: #fff;
  padding: 0 5px;
  opacity: .8;
}

.image-lazysize .image-attribution .image-attribution-text {
  display: none;
  padding: 0 5px;
}

.image-lazysize .image-attribution:hover .image-attribution-text {
  display: inline;
  font-size: .9em;
}

