/**
	sexy-combo 2.1.3 : http://code.google.com/p/sexy-combo/
	
	This is the default skin.
*/

div.sexy {
    white-space: nowrap;
    height: 21px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 146px;
}

div.sexy input {
    margin: 0 0 0 0;
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    padding:1px 3px;
    background:#fff url(../images/text-bg.gif) repeat-x 0 0;
    border:1px solid #B5B8C8;
    height: 18px;
    line-height:18px;
    vertical-align:middle; 
    left: 0px;
    top: 0px; 
    width: 129px;  

}

div.sexy div.icon {
    width:17px;
    height:21px;
    border: 0;
    background:transparent url(../images/trigger.gif) no-repeat 0 0;
    cursor:pointer;
    border-bottom: 1px solid #B5B8C8;
    top:0px;
    left: 129px; 

}


div.sexy div.list-wrapper {
    left: 0px;
    top: 21px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    width: 146px;
    bottom: auto;
}

div.sexy div.list-wrapper-up {
    top: auto;
    bottom: 21px;
}

div.sexy ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px;
}


div.sexy  li {
    padding: 0;
    padding-left: 5px;
    font:normal 14px tahoma, arial, helvetica, sans-serif;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 0;
}

div.sexy li.active {
    background-color: rgb(223, 232, 246);
}

/*for IE*/
div.sexy a, div.sexy a:visited, div.sexy a:active {
    display: block;
	width: 100%;
	width: 146px;
	text-decoration: none;
    font:normal 14px  tahoma, arial, helvetica, sans-serif;
	color: #000000;
    cursor: pointer;
    margin: 0;	
	height: 20px;
}

div.sexy input.empty {
    color: gray;
}

a.to-highlight:hover {
    background-color: rgb(223, 232, 246);
}

/**
	sexy-combo 2.1.3 : http://code.google.com/p/sexy-combo/
	
	This is the base structure, a skin css file is also needed
*/

/*wrapper of all elements*/
div.combo {
    position:relative;
    left: 0px;
    top: 0px;
}


/*text input*/
.combo input {
    position: absolute;
}


/*icon*/
.combo div.icon {
    position:absolute;
}


/*list wrapper*/
.combo div.list-wrapper {
    position: absolute;
    overflow: hidden;
    /*we should set height and max-height explicitly*/
    height: 200px; 
    max-height: 200px;
    /*should be always at the top*/
    z-index: 99999;

}

/*"drop-up" list wrapper*/
.combo div.list-wrapper-up {}

/*dropdown list*/
.combo ul {}

/*dropdown list item*/
.combo  li {
    height: 20px;
}

/*active (hovered) list item*/
.combo li.active {}


.combo .visible {
    display: block;
}

.combo .invisible {
    display: none;
}

/*used when emptyText config opt is set. Applied to text input*/
.combo input.empty {}