
<a class="back-btn" main-toggle="slide-left"><i class="fa fa-angle-left"></i> Back</a>

<h4 class="slide-title">{{node.title}}</h4>

<div class="row">

  <div class="col-sm-6">
    <h5>Pay online now</h5>
 

    <form class="form-horizontal" role="form" method="GET">
      <div class="form-group" ng-class="numberClass">
        <label class="control-label col-sm-4" for="invoice_number">Invoice number:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="invoice_number" ng-model-options="{ debounce: 250 }" ng-model="number" placeholder="Try 0001 or 0002">
          <div class="error-message hide">Sorry, we could not find your invoice number.  Please try 0001 or 0002 for this demo</div>
          <div class="success-message hide">We found an invoice for <strong>{{name}}</strong></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="amount">Amount:</label>
        <div class="col-sm-8"><div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="amount" ng-model="amount" placeholder="0.00">
        </div></div>
      </div>
      <div class="form-group"><div class="col-sm-12">
        <input type="submit" name="submit" value="Make payment" class="btn btn-primary" ng-click="submit()">
      </div></div>
    </form>

  </div>

  <div class="col-sm-6">
    <h5>Other ways to pay</h5>
    <div class="body" ng-bind-html="node.body.value"></div>
  </div>

</div>
<div main-toggle="slide-left" main-toggle-force="add" main-toggle-enter="true"></div>





