body.front {
  .breadcrumb,
  .page-header {
    display: none;
  }

  #content {
    width: 100%;
  }
}

// Panels layout
.helm-home-page {
  .layout-header-bg {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .helm-map-corner {
    //right: -12px;
  }
  .home-top-left {
    background: $brand-primary;
    padding: 40px 20px 20px;
    
    &, h1, small {
      color: $white;
    }

    h1 {
      font-size: 3em;
    }

    small {
      opacity: 0.7;
    }

    .pane-views-exp-search-results {

      // @todo: this should be temporary
      .views-submit-button {
        display: none;
      }
    }  
  }

  // Content area 
  // ------------------------

  .layout-content {
    padding-top: 30px;
  }

  // Lower regions
  // ------------------------

  .layout-lower {
    background: $gray-lightest;

    & > div {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .layout-quad {
    margin-top: 30px;

    .panel-pane {
      margin-top: 20px;
    }
  }
}


// *
// * Media Queries
// *
// ******************************************************

@include respond($sm-up) {

  body.front {

    #content {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Panels layout
  .helm-home-page {
    .layout-header-bg {
      height: 400px;
    }
    
    // search box
    .home-top-left {
      top: 100px;
    }
  }
}

@include respond($md-up) {

  // Panels layout
  .helm-home-page {

    // search box
    .home-top-left {
      top: 50px;
    }
  }
}

@include respond($lg-up) {
}