

#permissions {
  .module {
    font-family: $headings-font-family;
    font-weight: bold;
    line-height: $headings-line-height*2;
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;
    color: $headings-color;
    font-size: $font-size-h5;
  }
}