

.view-filters {
  margin-bottom: 30px;
}

.view-empty, .views-empty {
  padding-top: 20px!important;
}

.admin-views-view .views-exposed-form .form-text {
  width: auto;
}

.views-exposed-form .views-submit-button ~ .views-reset-button {
  padding-left: 0.5em;
}