/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/

.animation-wrap {
  position: relative;
  overflow: hidden;
}

[ui-view] {
  z-index: 2;
  min-height: 200px;
}

.transform, .slidedown {
  &.ng-enter, &.ng-enter-active, &.ng-leave, &.ng-leave-active {
    overflow: hidden;
  }

  // &.ng-enter,
  // &.ng-leave {
  //   background: white;
  // }

  &.ng-enter {
    z-index: 2;
  }

  &.ng-leave {
    z-index: 1;
  }
}



// *
// * Media Queries
// *
// ******************************************************

$trans-mobile-speed: 0.5s;
$trans-desk-speed: $trans-mobile-speed;
$transition: -100%;

@include respond($xs-only) {

.transform,
  .slidedown {
    &.ng-enter,
    &.ng-leave ,
    &.ng-hide-add,
    &.ng-hide-remove {
      @include transition(all $trans-mobile-speed ease-in-out);
    }

    &.ng-enter, 
    &.ng-hide-add {
      //@include transform(scale3d(0.8, 0.8, 0.8));
      position: relative;
      opacity: 0;
    }

    &.ng-enter.ng-enter-active,
    &.ng-hide-add.ng-hide-add-active {
      //@include transform(scale3d(1, 1, 1));
      opacity: 1;
    }

    &.ng-leave,
    &.ng-hide-remove {
      //@include transform(scale3d(1, 1, 1));
      opacity: 1;
    }

    &.ng-leave.ng-leave-active,
    &.ng-hide-remove.ng-hide-remove-active {
      //@include transform(scale3d(0.8, 0.8, 0.8));
      opacity: 0;

    }
  }

  .quickfade {
    &.ng-enter,
    &.ng-leave,
    &.ng-hide-add,
    &.ng-hide-remove {
      @include transition(all .1s ease-in-out);
    }
  }

  .ng-enter,
  .ng-hide-add {
    &.transform {
      left: -($transition);
    }

    &.slidedown {
      margin-top: $transition;
    }

    &.quickfade {
      opacity: 0;
    }
  }

  .ng-enter.ng-enter-active,
  .ng-hide-add.ng-hide-add-active {

    &.transform {
      left: 0;
    }

    &.slidedown {
      margin-top: 0;
    }

    &.quickfade {
      opacity: 1;
    }
  }

  .ng-leave,
  .ng-hide-remove {

    &.transform {
      left: 0;
      top: 0;
      position: absolute;
      width: 100%; 
    }

    &.slidedown {
      margin-top: 0;
      position: relative;
    }

    &.quickfade {
      opacity: 1;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%; 
    }
  }

  .ng-leave.ng-leave-active,
  .ng-hide-remove.ng-hide-remove-active {

    &.transform {
      left: $transition;
    }

    &.slidedown {
      margin-top: ($transition);
    }

    &.quickfade {
      opacity: 0;
    }
  }
}

@include respond($sm-up) {
  .transform,
  .slidedown {
    &.ng-enter,
    &.ng-leave ,
    &.ng-hide-add,
    &.ng-hide-remove {
      @include transition(all $trans-desk-speed ease-in-out);
    }

    &.ng-enter, 
    &.ng-hide-add {
      @include transform(scale3d(0.8, 0.8, 0.8));
      position: relative;
    }

    &.ng-enter.ng-enter-active,
    &.ng-hide-add.ng-hide-add-active {
      @include transform(scale3d(1, 1, 1));
    }

    &.ng-leave,
    &.ng-hide-remove {
      @include transform(scale3d(1, 1, 1));
    }

    &.ng-leave.ng-leave-active,
    &.ng-hide-remove.ng-hide-remove-active {
      @include transform(scale3d(0.8, 0.8, 0.8));
    }
  }

  .quickfade {
    &.ng-enter,
    &.ng-leave,
    &.ng-hide-add,
    &.ng-hide-remove {
      @include transition(all .1s ease-in-out);
    }
  }

  .ng-enter,
  .ng-hide-add {
    &.transform {
      left: $transition;
    }

    &.slidedown {
      margin-top: $transition;
    }

    &.quickfade {
      opacity: 0;
    }
  }

  .ng-enter.ng-enter-active,
  .ng-hide-add.ng-hide-add-active {

    &.transform {
      left: 0;
    }

    &.slidedown {
      margin-top: 0;
    }

    &.quickfade {
      opacity: 1;
    }
  }

  .ng-leave,
  .ng-hide-remove {

    &.transform {
      left: 0;
      top: 0;
      position: absolute;
      width: 100%; 
    }

    &.slidedown {
      margin-top: 0;
      position: relative;
    }

    &.quickfade {
      opacity: 1;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%; 
    }
  }

  .ng-leave.ng-leave-active,
  .ng-hide-remove.ng-hide-remove-active {

    &.transform {
      left: -($transition);
    }

    &.slidedown {
      margin-top: ($transition);
    }

    &.quickfade {
      opacity: 0;
    }
  }
}
