
// Naviagtion
// -------------------------------


$open-nav-dim: 30px;

// Open side nav
.open-nav {
  display: block;
  position: absolute;
  left: 5px;
  font-size: 14px;
  width: $open-nav-dim;
  min-height: 128px;
  min-width: 0;
  cursor: pointer;
  top: 5px;
  @include transition(all ease .2s);

  a {  
    &, &:hover {
      text-decoration: none;
    }
  }

  i {
    display: block!important;
    margin: 0 0 10px;
    font-size: 23px;
    width: $open-nav-dim;
    height: $open-nav-dim;
    text-align: center;
    line-height: $open-nav-dim!important;
    position: relative;
    @include transform(rotate(0deg));
    @include transition(all ease .2s);
    
    .show-nav & {
      @include transform(rotate(180deg));
    }
  }


  span {
    display: block;
    @include transform(rotate(90deg));
  }
}


// *
// * Media Queries
// *
// ******************************************************

@include respond($xs-only) {
  // we have soidebar first (docs section)
  .app-wrap {
    position: relative;
    padding-left: 32px;
  }

  .app-slider {
    overflow: hidden;
    min-width: 100%;
  }

  .app-slider > div {
    position: relative;
    @include transition(all ease 0.5s);
  }
  // }

  // // Only Mobile
  // @media screen and (max-width: $screen-xs-max) {
 // we have soidebar first (docs section)
  .app-slider { 
    & > div {
      max-width: none;
      width: 200%;
    }

    // Has side menu
    &.slider-style-all > div {
      margin-left: -100%;
    }
  }

  .show-nav { 
    .app-slider > div {
      margin-left: 0%;
    }
  }
}

// Only tablet
// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  
//   .app-slider > div {
//     margin-left: 0;
//     min-width: 100%;
//   }

//   .show-nav { 
//     .app-slider > div {
//       margin-left: 300px + $grid-gutter-width/2;
//     }
//   }

//   .nav-contain {
//     margin-left: -(300px + $grid-gutter-width/2);
//     width: 300px!important;
//   }

//   .content-contain {
//     width: 100%!important;
//   }
// }


// Past Tablet
@include respond($sm-up) {
  .open-nav {
    display: none;
  }
}