ul#social-block li a {
  width: 35px;
  height: 60px;
}

ul#social-block li.facebook a {
  background-image: url(../icons/big/facebook.png);
}

ul#social-block li.twitter a {
  background-image: url(../icons/big/twitter.png); 
}
