ul#social-block li a {
  width: 30px;
  height: 30px;
}

ul#social-block li a {
  background-image: url(../icons/social-white.png);
}

ul#social-block li.facebook a {
  background-position: 1px 0; 
}

ul#social-block li.twitter a {
  background-position: -30px 0; 
}

ul#social-block li.linkedin a {
  background-position: -60px 0; 
}
