// Docs: http://foundation.zurb.com/docs/components/forms.html

// Drupal specific classes
// ----------------------------------------------------------------------------

.no-labels,
.no-label {
  label {
    @include e(hide);
  }
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

.draggable a.tabledrag-handle {
  padding: 0;
  margin-left: 0;
  margin-right: rem-calc(10);
  margin-top: rem-calc(4);
  @include icon-button-replace($fa-var-arrows, 15px, rem-calc(14));
}

// Password
//--------------------------------------------------

.confirm-parent, .password-parent, .password-suggestions {
  max-width: 100%;
}

.password-strength {
  display: none;
}

// password form
div.form-type-password-confirm {
  padding-top: 0;
  & > label {
    display: none;
  }
  .form-item {
    padding-top: $column-gutter / 2;
    width: 100%;
  }
  .description {
    margin-top: -($form-spacing / 2);
    margin-bottom: $form-spacing * 1.5;
    @extend %font-reset;
  }
}

div.form-item div.password-suggestions {
  display: none !important;
}

div.password-confirm {
  font-size: 0.9em;
  margin-top: 0;
  width: auto;
  color: $white;
  position: relative;
  &:before {
    content: "Matches:";
    color: $form-label-font-color;
    position: absolute;
    bottom: 0;
    right: rem-calc(27);
  }
  span.error, span.ok {
    display: inline-block;
    font-size: 0.75em;
    color: $white;
    padding: 0.25em;
    margin-top: rem-calc(3);
    margin-bottom: 0;
    text-align: center;
    width: rem-calc(24);
  }
  span.ok {
    background: $success-color;
  }
}

// form items
// ----------------------------------------------------------------------------

.form-item {
  margin-bottom: 0;
  margin-top: 0;
  input,
  select,
  .form-textarea-wrapper {
    & ~ .description {
      margin-top: -($form-spacing / 2);
      margin-bottom: $form-spacing * 1.5;
    }
  }
}

@include all-form-inputs(true) {
  margin-bottom: 1.5rem;
}


.form-textarea-wrapper,
.fieldset-description {
  margin-bottom: 1.5rem;
}

input[type="checkbox"], input[type="radio"] {
  float: left;
  margin-bottom: 0;
  margin-top: rem-calc(4);
  & ~ label {
    display: block;
    margin-left: 0;
    line-height: rem-calc(22);
    padding-left: rem-calc(25);
  }
}

.form-type-checkbox, .form-type-radio {
  margin-bottom: 1rem;
  input {
    float: left;
    & ~ .description {
      margin-top: $form-spacing / 2;
      margin-bottom: $form-spacing;
      margin-left: rem-calc(25);
    }
  }
}

// autocomplete
// ----------------------------------------------------------------------------

html.js {
  .form-item-autocomplete {
    position: relative;
  }
  .form-autocomplete {
    & ~ .field-suffix {
      position: relative;
      display: block;
      width: 100%;
    }
  }
  .form-autocomplete-wrap {
    margin-top: rem-calc(-27px);
    position: absolute;
    right: $form-spacing / 2;
  }
  .spinner {
    display: inline-block;
    @include spinner-core(rem-calc(15px));
  }
  input.form-autocomplete {
    background-image: none;
  }
  input.form-autocomplete.throbbing ~ .field-suffix .spinner {
    @include spinner-active;
  }
}

// Confirmation forms
//--------------------------------------------------

form.confirmation {
  // button + cancel
  .form-submit {
    position: relative;
    margin-left: 25%;
    margin-right: rem-calc(10);
    margin-top: $button-margin-bottom;
  }
}

// *
// * Media Queries
// *
// ******************************************************

@include respond($medium-up) {
  //.node-webform.view-mode-full form > div,
  .page-user div.main > form > div {
    & > .form-item {
      max-width: 50%;
      clear: left;
    }
    & > .form-submit {
      clear: both;
      display: block;
    }
  }
}
