

// Images 
// ---------------------------

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}


// Generic media
// ---------------------------

.field-name-field-media {
  margin-bottom: 20px;
}