#share42 {
  z-index: 50 !important;
  padding: 6px 6px 0;
  background: #FFF;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#share42:hover {
  background: #F6F6F6;
  border: 1px solid #D4D4D4;
  -webkit-box-shadow: 0 0 5px #DDD;
  -moz-box-shadow: 0 0 5px #DDD;
  box-shadow: 0 0 5px #DDD;
}
#share42 a {
  opacity: 0.5;
}
#share42:hover a {
  opacity: 0.7;
}
#share42 a:hover {
  opacity: 1;
}
#share42 img {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

#block-share42-share42 {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
#block-share42-share42 .content {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
